@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pri: #000000;
  --sec: #1a1a1a;
  --ter: #333333;
  --for: #4d4d4d;
  --fiv: #666666;
}

body {
  background-color: var(--pri);
  color: white;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.invert {
  filter: invert(100%);
}

.left {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right {
  width: 25vw;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: var(--sec);
  border-radius: 10px;
  gap: 10px;
  padding: 10px 15px;
  justify-content: flex-start;
}

.logo {
  height: 35px;
  padding: 10px 0;
}

.logo>img {
  height: inherit;
  width: inherit;
  object-fit: contain;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

.navigation>li {
  list-style: none;
  height: 25px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  border-radius: 10px;
  padding: 10px 4px;
}

.navigation li:hover {
  background-color: var(--ter);
}

li img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  vertical-align: middle;
  margin-right: 10px;
}

.library {
  min-height: 70vh;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.plus {
  height: 15px;
  width: 15px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 500px;
  padding: 8px;
}

.plus:hover {
  background-color: var(--ter);
}

.library .bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tile {
  background-color: var(--ter);
  border-radius: 8px;
  padding: 2px 15px 15px;
}

.tile>h3 {
  font-size: 15px;
}

.tile>p {
  font-size: 12px;
  opacity: 0.6;
}

.tile .button {
  background-color: white;
  color: var(--pri);
  border: none;
  padding: 0px 8px;
  margin-top: 20px;
  border-radius: 500px;
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}

.quicklinks {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 10px;
  gap: 15px;
}

.quicklinks a {
  color: var(--fiv);
  text-decoration: none;
}

.cookieslink {
  color: grey;
  text-decoration: none;
  font-size: 15px;
}

.footer {
  margin-top: auto;
}

.middle {
  background-color: var(--sec);
  border-radius: 10px;
  padding: 10px 15px;
  width: 50vw;
}

.middle_top {
  padding: 0px 10px;
}

.mid_heading {
  font-size: 20px;
  padding: 0px 10px;
  margin: 40px 0px 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 500px;
}

.profile p {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.favourites {
  display: flex;
  gap: 10px;
  padding: 0px 10px;
}

.fav_card {
  width: 50%;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--ter);
  border-radius: 8px;
  overflow: hidden;
}

.fav_card img {
  height: 100%;
  object-fit: cover;
}

.fav_card:hover {
  cursor: pointer;
  background-color: var(--for);
}

.recommendations {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}

.rec_card {
  display: flex;
  gap: 5px;
  min-width: 180px;
  width: 180px;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.rec_card img {
  width: 100%;
  border-radius: 8px;
}

.rec_card .name {
  padding: 0px 8px;
  font-size: 15px;
}

.rec_card:hover {
  cursor: pointer;
  background-color: var(--ter);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.rec_card_image {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 500;
  transform: translate(-50%, -50%) scale(1, 1);
  width: 70px;
  height: 70px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.rec_card:hover .play-button {
  opacity: 0.9;
  animation: popUp 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes popUp {
  0% {

    transform: translate(-50%, -50%)scale(0);
    opacity: 0;
  }

  70% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}